<!DOCTYPE html>
<html>
  <head>
    <title>在线便笺</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/images/favicon.ico">


  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="left">
            <span class="logo">Daskys</span>
            <span class="name">在线便笺</span>
        </div>
        <div class="middle">
          <span class='all active'>全部</span>
          <span class='completed'>已完成</span>
          <span class='order'>正序</span>
        </div>
        <div class="login right">
          Github登录
        </div>
      </div>
      
    </header>
    <main>
      <ul id='waterfall'>
        
        <div class='addNote'>
          <div class="circle">
            <span>+</span>
          </div>
        </div>
      </ul>
      

    </main>
    <div class="modal">
      <div class='wrapper'>
        <div class="title">
          添加新便笺
          <span class="close">x</span>
        </div>
        <textarea class='content' placeholder="请输入内容" ></textarea>
        <div class='grade'>重要性</div>
        <div class='addBtn'>
          <span>添加</span>
        </div>
      </div>
    </div>
    <script src="/js/index.js"></script>

  </body>
</html>
