<!DOCTYPE html>
<html>
  <head>
    <title>My Sticky Note</title>
    <link rel="stylesheet" href="/css/index.css">

  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="left">
            <span class="logo">Daskys</span>
            <span class="name">在线便笺</span>
        </div>
        <div class="middle">
          <span class='active'>全部</span>
          <span>已完成</span>
          <span>正序</span>
        </div>
        <div class="right">
          Github登录
        </div>
      </div>
      
    </header>
    <main>
      <ul>
        <li class='item'>
          <div class="title">
            <span class="datetime">2018年01月08日</span>
            <span>X</span>
          </div>
          <div class="content">
              属性告诉在哪里输出它所创建的
              以及如何命名这些文件，默认值为
              属性告诉在哪里输出它所创建的
              属性告诉在哪里输出它所创建的
              属性告诉在哪里输出它所创建的
          </div>
          <div class="bottom">
            <div class="grade"></div>
            <div class="uncompleted">未完成</div>
          </div>
        </li>
        <li class='item'>
            <div class="title">
              <span class="datetime">2018年01月08日</span>
              <span>X</span>
            </div>
            <div class="content">
                属性告诉在哪里输出它所创建的
                以及如何命名这些文件，默认值为
                属性告诉在哪里输出它所创建的
                属性告诉在哪里输出它所创建的
                属性告诉在哪里输出它所创建的
                属性告诉在哪里输出它所创建的
                属性告诉在哪里输出它所创建的
                属性告诉在哪里输出它所创建的
                属性告诉在哪里输出它所创建的
            </div>
            <div class="bottom">
              <div class="grade"></div>
              <div class="completed">已完成</div>
            </div>
          </li>
      </ul>
      <span class='message'>删除成功</span>
      <span class='addNote'>+</span>
      <span class='toTop'></span>

    </main>
    <script src="/js/index.js"></script>

  </body>
</html>
