<!DOCTYPE html>
<html>
  <head>
    <title>在线便笺</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/iconfont/iconfont.css">


  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="left">
            <span class="logo">Daskys</span>
            <span class="name">在线便笺</span>
        </div>
        <div class="middle">
          <span class='all active'>全部</span>
          <span class='uncompleted'>未完成</span>
          <span class='order'>正序</span>
        </div>
        <div class="login right">
          <% if(isLogin) { %>
            <span class='userIcon' style="background-image:url('<%= user.avatar %>')"></span>
            <span class='userName'><%= user.username %></span>
            <span class="logout">
                <a href="/auth/logout">退出</a>
            </span>
          <% } else { %>
            <a href='/auth/github'>
              <span class="iconfont icon-github"> 
                  Github登录
              </span>
            </a>
          <% } %>
          
        </div>
      </div>
      
    </header>
    <main>
      <ul id='waterfall'>
        
        
      </ul>
      <div class='addNote'>
        <div class="circle">
          <span>+</span>
        </div>
      </div>

    </main>
    <div class="modal">
      <div class='wrapper'>
        <div class="title">
          <div class="name">添加新便笺</div>
          <span class="close">x</span>
        </div>
        <textarea class='content' placeholder="请输入内容" ></textarea>
        <div class='grade'>重要性</div>
        <div class='addBtn'>
          <span>添加</span>
        </div>
      </div>
    </div>
    
    <span class="iconfont icon-loading loading"> 
    
    <script src="/js/index.js"></script>

  </body>
</html>
