li {
    display: inline-block; //测试用的
    width: 200px;
    padding: 22px 15px 20px 15px;
    background: #ffffffff;
    border-radius: 7px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 4px 0px #e8e8e8;
    margin-top: 20px;
    position: absolute;


    .title {
        color: #9c9a9a;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;

        .delete{
            cursor: pointer;
        }
        
    }

    .content {
        color: #585757;
        line-height: 26px;
        word-break: break-word;
        padding: 15px 0;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }

    .uncompleted {
        color: #ffffff;
        font-size: 15px;
        margin-top: 15px;
        display: inline-block;
        background-color: #00d4ed;
        padding: 3px 12px;
        border-radius: 10px;
        cursor: pointer;
    }

    .completed {
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        margin-top: 15px;
        display: inline-block;
        background-color: #00daaa;
        padding: 3px 24px;
        border-radius: 10px;
        cursor: pointer;
    }
}